// Import compass :all
@import "compass";

// Import foundation
@import "settings";
@import "../bower_components/foundation/scss/foundation";

// I know the rest of this file if should be another dependence
// Basic setting

@mixin left {@include float-left;}
@mixin right {@include float-right;}
@mixin clear {@include clearfix;}
@mixin none {display: none;}

@mixin bold {font-weight: bold;}
@mixin normal {font-weight: normal;}
@mixin light {font-weight: 300;}

.none {@include none;}
.clear {clear: both;}


// Variables
$white: #fff;
$ccc: #d4d5cf;
$lvl2: #898989;
$secondary: #1e84d3;

$header-font-family: $body-font-family;

$include-open-sans: false !default;
$basic-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
$shadow : rgba(0, 0, 0, 0.2);


// Buttons mixin
@mixin basic-button($bg-color:$primary-color, $text-color: $white, $size: 14, $padding: 35) {
    background: $bg-color;
    color: $text-color;
    font-size: rem-calc($size);
    box-shadow: inset 0 -2px 0 darken($bg-color, 20%);
    padding: rem-calc(11) rem-calc($padding) rem-calc(12);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    &:hover {
        background: darken($bg-color, 5%);
        box-shadow: inset 0 -2px 0 darken($bg-color, 20%);
    }
}

.button {
    @include basic-button(
        $secondary,
        $white,
        15,
        35
        );
}

// Base styles;
body {background-image: url(/images/bg.jpg);}

// Header
#header {
    box-shadow: $basic-box-shadow;
    .top-bar-section {
        a.active {
            font-weight: bold;
            color: $primary-color;
        }
        .dropdown {
             box-shadow: $basic-box-shadow;
        }
        .register {margin-right: 15px; }
    }
}


// Footer
#footer {
}


// Index
#intro-index {
    background-color: #e7eac1;
    padding: 2em 0;
    #bg-loop {
        @include left;
        background: url(/images/bg-slider.jpg) no-repeat 0 0;
        width: 374px;
        height: 282px;
        img {
            position: absolute;
            z-index: 10;
        }
        .overlay-slide {
            width: 374px;
            height: 282px;
            background-position: left;
            background-repeat: no-repeat;
            background-image: url(/images/slider-1.png);
        }
    }
    #intro-tools {
        @include right;
        width: 600px;
        img {margin-left: -25px;}
        .intro {
            h2 {
                font-size: rem-calc(30);
            }
            p {
                font-size: rem-calc(15);
                margin-bottom:  0.5em;
            }
        }
        .cotizar {
            margin-top: 0.5em;
            h4 {
                font-weight: 300;
                font-size: rem-calc(18);
            }
        }
    }
}

#como-index, #testimonios-index, #beneficios-index, #contacto-index , #ayuda-index {
    padding: 2em 0;
}

#como-index, #testimonios-index {
    background-color: $white;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

.title-section {
    text-align: center;
    margin-bottom: 2em;
    h2 {
        font-size: rem-calc(30);
        line-height: 1;
    }
    h4 {
        font-size: rem-calc(18);
        font-weight: 300;
    }
}

#como-index {
    img {
        display: block;
        margin: auto;
    }
    h5 {
        @include bold;
        margin: 1em 0 0.3em;
        text-align: center;
        font-size: rem-calc(18);
    }
    p {
        text-align: center;
        font-size: rem-calc(14);
    }
}

#beneficios-index {
    .box {
        img {
            margin: 1em 1.5em 1em 1em;
        }
        h5 {
            @include bold;
            font-size: rem-calc(18);
        }
        li {
            list-style: none;
            font-size: rem-calc(14);
            i {
                color: #88b43b;
                margin-right: 10px;
            }
        }
    }
}

#testimonios-index {
    .orbit-timer, .orbit-slide-number {@include none;}
    .margin {margin: 0 3em;}
    img {
        display: block;
        margin: auto;
    }
    blockquote {
        margin: 1em 0;
        border-left: none;
        padding: 0;
    }
}

#ayuda-index {
    ul {
        list-style:none;
        margin:0;
        padding:0;
        text-align:center;
        li {
            display: inline-block;;
            list-style: none;
        }
    }
}

// Content page
#content-page {
    margin-top: 2em;
    margin-bottom: 2em;
}

.box {
    background: $white;
    box-shadow: $basic-box-shadow;
    margin-bottom: 1.5em;
    padding: 1em 1em 0.5em;
}

.title-page {
    h3 {
        font-size: rem-calc(24);
        line-height: 1;
        margin-bottom: 0;
    }
}


// Sidebar
.filters {
    h4 {
        @include bold;
        text-transform: uppercase;
        font-size: rem-calc(13);
    }
}


// Ad's
.box.cotiza-ad {
    color: lighten($primary-color, 5%);
    background: lighten($body-bg, 5%);
    h3 {
        color: lighten($primary-color, 5%);
        margin: -3px 0 0;
    }
    p { font-size: rem-calc(14);}
    i {
        font-size: rem-calc(70);
        margin-top: -5px;
    }
    &:hover {
        background: $white;
        i, p, h3 {color: $primary-color;}
    }
}

.box.register {
    background: $white url(/images/map.jpg) no-repeat center top;
    p {
        color: $primary-color;
        text-align: center;
        margin-top: 0.5em
    }
    .button {
    margin-bottom: 0;
    @include basic-button(
        $secondary-color,
        $white,
        15,
        35
        );
    }
}


// Tranportistas
.loop-list {
    border-bottom: 1px solid $ccc;
    padding: 0.5em 0 1em;
    h5 {
        font-size: rem-calc(18);
        margin-bottom: -2px;
    }
    ul {
        margin: 0;
        li {
            @include left;
            list-style: none;
            width: 33%;
            span {
                font-size: rem-calc(11);
                text-transform: uppercase;
                color: $lvl2;
            }
            p {
                margin: -5px 0 0;
                font-size: rem-calc(14);
            }
        }
    }
}







