<div id="content-page" class="row">

    <div id="sidebar" class="large-3 medium-4 columns">
        <div class="nav-view">
            <ul>
                <li>{{#link-to "como_funciona"}}Como funciona{{/link-to}}</li>
                <li>{{#link-to "ayuda"}}Preguntas Frecuentes{{/link-to}}</li>
                <li>{{#link-to "contacto"}}Contacto{{/link-to}}</li>
            </ul>
        </div>

        <div class="box contact">
            <div class="margin">
                {{#link-to "contacto"}}Te ayudamos{{/link-to}}
                <p>En <b>Tucarga</b> siempre estamos dispuesto a ayudarte, habla con nosotros al 600 500 0606</p>
            </div>
        </div>
    </div> {{! end sidebar }}

    <div id="content-view" class="large-9 medium-8 columns">
        <div class="title-page">
            <h3>Preguntas frecuentes</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
        </div> {{! end title page}}

        <dl class="accordion" data-accordion>
          <dd>
            <a href="#panel1">¿Que es tu carga?</a>
            <div id="panel1" class="content active">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
          </dd>
          <dd>
            <a href="#panel2">Pregunta 2</a>
            <div id="panel2" class="content">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
          </dd>
          <dd>
            <a href="#panel3">Pregunta 3</a>
            <div id="panel3" class="content">
              Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
          </dd>
          <dd>
            <a href="#panel4">Pregunta 4</a>
            <div id="panel4" class="content">
              Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
          </dd>
          <dd>
            <a href="#panel5">Pregunta 5</a>
            <div id="panel5" class="content">
              Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
          </dd>
          </dd>
        </dl>

    </div> {{! end content view }}

</div> {{! end content page }}

<script type="text/javascript">
</script>

