        <div id="como-cargador">
            <div class="title-page cargador">
                <h3>Empresa cargadora</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi.</p>
            </div> {{! end title page}}

            <div class="row como-info">
                <div class="large-6 columns">
                    <h4>Beneficios</h4>
                    <ul>
                        <li><i class="fi-check"></i>Trabaja con clientes confiables y recomendados.</li>
                        <li><i class="fi-check"></i>Trabaja con clientes confiables y recomendados.</li>
                        <li><i class="fi-check"></i>Trabaja con clientes confiables y recomendados.</li>
                        <li><i class="fi-check"></i>Trabaja con clientes confiables y recomendados.</li>
                        <li><i class="fi-check"></i>Trabaja con clientes confiables y recomendados.</li>
                    </ul>
                </div>
                <div class="large-6 columns">
                    <h4>Como funciona</h4>
                    <ul>
                        <li><i class="number">1</i>Trabaja con clientes confiables y recomendados.</li>
                        <li><i class="number">2</i>Trabaja con clientes confiables y recomendados.</li>
                        <li><i class="number">3</i>Trabaja con clientes confiables y recomendados.</li>
                        <li><i class="number">4</i>Trabaja con clientes confiables y recomendados.</li>
                    </ul>
                </div>
            </div>

            <div class="box call-action">
                <div class="margin clearfix">
                    <h3 class="left">Que estas esperando para probar Tucarga</h3>
                    {{#link-to "cotizar" classNames='button radius right'}}Cotiza aqui{{/link-to}}
                </div>
            </div>
        </div>
