<div id="content-page">
    <div  id="form" class="row">
        <div class="small-7 small-centered columns">

            <div class="title-page">
                <h3>Te ayudamos a elegir</h3>
                <h5 class="subheader">Crea una cotización nosotros nos encargamos del resto</h5>
            </div> {{! end title page}}

            {{input type="text" value=name  placeholder=""}}
            {{input type="text" value=fecha  placeholder=""}}
            {{input type="text" value=lugar  placeholder=""}}

            <button {{action 'saveCotizacion'}} class="button success large-12">
                Enviar solicitud
            </button>

        </div> {{! end centered}}
    </div>
</div> {{! end content page }}
