<div id="content-page" class="row">

    <div id="sidebar" class="large-4 columns">
        <div class="box filters">
            <div>
                <h4>Desde</h4>
                <select>
                    <option value="husker">Husker</option>
                    <option value="starbuck">Starbuck</option>
                    <option value="hotdog">Hot Dog</option>
                    <option value="apollo">Apollo</option>
                </select>
                <h4>Hasta</h4>
                <select>
                    <option value="husker">Husker</option>
                    <option value="starbuck">Starbuck</option>
                    <option value="hotdog">Hot Dog</option>
                    <option value="apollo">Apollo</option>
                </select>
                <h4>Tipo de carga</h4>
                <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label><br />
                <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
            </div>
        </div>

        <div class="box register">
            <div>
                <p>Sumate a la red de transporte mas grande de Chile y ve como aumenta <strong>Tucarga</strong></p>
                <p>{{#link-to "registrar" classNames='button radius small'}}Registrate{{/link-to}}</p>
            </div>
        </div>
    </div> {{! end sidebar }}

    <div id="content-view" class="large-8 columns">
        <div class="title-page clearfix">
            <div class="left">
                <h3>Directorio de transporte</h3>
                <h6 class="subheader">Descubre nuevas empresas con las que puedes trabajar</h6>
            </div>
            {{#link-to "cotizar" classNames='button radius right'}}Cotizar{{/link-to}}
        </div> {{! end title page}}

        <div class="loop-transport">
            {{#each transportista in controller}}
                <div class="loop-list clearfix">
                    <h5>{{transportista.name}}</h5>
                    <ul class="">
                        <li>
                            <span>Cobertura</span></br>
                            <p>{{transportista.zone}}</p>
                        </li>
                        <li>
                            <span>Sucursales</span></br>
                            <p>{{transportista.city}}</p>
                        </li>
                        <li>
                            <span>Almacenaje</span></br>
                            <p>{{transportista.suply}}</p>
                        </li>
                    </ul>
                </div>
            {{/each}}
        </div> {{! end loop }}

        {{#link-to "cotizar"}}
        <div class="box cotiza-ad clearfix">
            <div class="left">
                <h3>Te ayudamos a elegir</h3>
                <p>En Tucarga estamos comprometidos en brindarte la mejor solución de transporte</p>
            </div>
            <i class="fi-play right"></i>
        </div> {{! fin ad}}
        {{/link-to}}
    </div> {{! end content view }}

</div> {{! end content page }}

<script type="text/javascript">
    $(document).ready(function() {

    });
</script>

