<div class="row">
    <div id="sidebar" class="large-4 columns">
        <div class="filters">



        </div>
        <div class="asdf">
            <p>Sumate a la red de transporte mas grande de Chile y ve como aumenta <strong>Tucarga</strong></p>
            <p>{{#link-to "registrar" classNames='button radius add-work'}}Registrate{{/link-to}}</p>
        </div>
    </div> <!-- end sidebar -->
    <div id="content-view" class="large-8 columns">

    </div> <!-- end content view-->
</div> <!-- end content page -->
