<div id="intro-index" class="">
    <div class="row">
        <div id="intro-tools" class="large-9 medium-12 small-12 columns">
            <img src="/images/tool-cargador.png" alt="Empresa cargadora">
            <div class=" intro">
                <h2>Más provedores, más rutas, mejores precios!</h2>
                 <p>Buscas transporte spot y tus proveedores no tienen disponibilidad? Necesitas asegurar transporte por la
temporada? Tienes un servicio de carga regular? Quieres conocer nuevos proveedores para tus rutas? </p>
                 <p><b>Tucarga.cl es la mejor herramienta para encontrar transporte disponible a tú medida.</b></p>
            </div>
            <div class="cotizar">
                <h4>Que esperas para cotizar!</h4>
                <ul class="button-group radius">
                  <li><a href="#" class="button"><img src="/images/impo.jpg"> Importación</a></li>
                  <li><a href="#" class="button"><img src="/images/expo.jpg"> Exportación</a></li>
                  <li><a href="#" class="button"><img src="/images/carga.jpg"> Carga domestica</a></li>
                  <li><a href="#" class="button"><img src="/images/vacio.jpg"> Contenedor vacio</a></li>
                </ul>
            </div>
        </div>
        <div class="large-3 medium-3 columns"></div>
    </div>
</div> {{! end intro index }}

<div id="como-index">
    <div class="row">
        <div class="large-12 columns title-section">
            <h2>Como funciona</h2>
            <h4>Solo cuatro pasos para empezar a mover tu negocio {{#link-to "como_funciona"}}Ver más{{/link-to}}</h4>
        </div>
    </div>

    <div class="row">
        <div class="large-3 medium-6 columns">
            <img src="/images/step1.png" alt="Es gratis">
            <h5>Cotizar es gratis</h5>
            <p>No cobramos por utilizar la plataforma</p>
        </div>

        <div class="large-3 medium-6 columns">
            <img src="/images/step2.png" alt="Cotiza ahora">
            <h5>Hace una cotización</h5>
            <p>Son pocos pasos nosotros nos encargamos del resto</p>
        </div>

        <div class="large-3 medium-6 columns">
            <img src="/images/step3.png" alt="Buscar tranportista">
            <h5>Buscamos a los mejores</h5>
            <p>Nos encargamos de encontrar los mejores transportistas</p>
        </div>

        <div class="large-3 medium-6 columns">
            <img src="/images/step4.png" alt="Elige el mejor">
            <h5>Elige la mejor oferta</h5>
            <p>Te enviamos un correo con las mejores ofertas</p>
        </div>
    </div>
</div> {{! end como funciona }}

<div id="beneficios-index">
    <div class="row">
        <div class="large-12 columns title-section">
            <h2>Beneficios que te sirven</h2>
            <h4>Descubre todo lo que puedes hacer con nosotros</h4>
        </div>
    </div>
    <div class="row">
        <div class="large-6 medium-6 columns ">
            <div class="box clearfix">
                <div class="cargador">
                    <h5>Cargadores</h5>
                    <ul class="clearfix">
                        <li><i class="fi-check"></i>Accede al directorio de transporte más amplio de Chile.</li>
                        <li><i class="fi-check"></i>Ahorra tiempo buscando transporte a tu medida.</li>
                        <li><i class="fi-check"></i>Trabaja con transportista confiables y recomendados.</li>
                        <li>{{#link-to "como_funciona"}}Conocer más beneficios{{/link-to}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="large-6 medium-6 columns transportista">
            <div class="box clearfix">
                <div class="transportista">
                    <h5>Transportistas</h5>
                    <ul>
                        <li><i class="fi-check"></i>Trabaja con clientes confiables y recomendados.</li>
                        <li><i class="fi-check"></i>Nosotros te avisamos cada ves que tengas una oferta.</li>
                        <li><i class="fi-check"></i>Aumenta el volumen de carga y retornos vacios.</li>
                        <li>{{#link-to "como_funciona"}}Conocer más beneficios{{/link-to}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> {{! end beneficios }}

<div id="testimonios-index">
    <div class="row">
        <div class="large-12 columns title-section">
            <h2>Clientes que confian en nosotros</h2>
            <h4>En Tucarga siempre estamos dispuesto a ayudarte, habla con nosotros</h4>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <ul class="example-orbit-content" data-orbit>
              <li data-orbit-slide="headline-1">
                  <div class="margin">
                    <div class="row">
                        <div class="large-6 medium-6 columns">
                            <img src="/images/logo.jpg" alt="Cotiza ahora">
                            <blockquote>Those people who think they know everything are a great annoyance to those of us who do.<cite>Pepito Perez, Gerente General</cite></blockquote>
                        </div>
                        <div class="large-6 medium-6 columns">
                            <img src="/images/logo.jpg" alt="Cotiza ahora">
                            <blockquote>Those people who think they know everything are a great annoyance to those of us who do.<cite>Pepito Perez, Gerente General</cite></blockquote>
                        </div>
                    </div>
                  </div>
              </li>
              <li data-orbit-slide="headline-2">
                  <div class="margin">
                    <div class="row">
                        <div class="large-6 medium-6 columns">
                            <img src="/images/logo.jpg" alt="Cotiza ahora">
                            <blockquote>Those people who think they know everything are a great annoyance to those of us who do.<cite>Pepito Perez, Gerente General</cite></blockquote>
                        </div>
                        <div class="large-6 medium-6 columns">
                            <img src="/images/logo.jpg" alt="Cotiza ahora">
                            <blockquote>Those people who think they know everything are a great annoyance to those of us who do.<cite>Pepito Perez, Gerente General</cite></blockquote>
                        </div>
                    </div>
                  </div>
              </li>
        </div>
    </div>
</div> {{! end testimonios }}

<div id="ayuda-index">
    <div class="row">
        <div class="large-12 columns title-section">
            <h2>¿Tienes dudas?</h2>
            <h4>En Tucarga siempre estamos dispuesto a ayudarte, habla con nosotros</h4>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns clearfix">
            <ul>
                <li>{{#link-to "contacto"}}Contacto{{/link-to}}</li>
                <li>{{#link-to "ayuda"}}Preguntas frecuentes{{/link-to}}</li>
                <li>{{#link-to "como_funciona"}}Como funciona{{/link-to}}</li>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
       // loop auto rotate
        var rotateEvery = 4; //seconds
        var images = [
            "/images/slider-2.png",
            "/images/slider-1.png"];
        var curImage = 0;
        setInterval(delayFunction, rotateEvery*1000);
        function delayFunction() {
          if(curImage == images.length){
            curImage = 0;
          }
          $('.overlay-slide').fadeOut('400',function(){
            $(this).css("background-image",'url('+images[curImage]+')').fadeIn('400');
              curImage++;
          });

        }
    });
</script>
