<div id="content-page">
    <div class="row">

        <div id="sidebar" class="large-3 medium-4 columns">
            <div class="nav-view">
                <ul>
                    <li>{{#link-to "como_funciona"}}Como funciona{{/link-to}}</li>
                    <ul>
                        <li>{{#link-to "cargador"}}Cargador{{/link-to}}</li>
                        <li>{{#link-to "transportista"}}Transportista{{/link-to}}</li>
                    </ul>
                    <li>{{#link-to "ayuda"}}Preguntas Frecuentes{{/link-to}}</li>
                    <li>{{#link-to "contacto"}}Contacto{{/link-to}}</li>
                </ul>
            </div>

            <div class="box contact">
                <div class="margin">
                    {{#link-to "contacto"}}Te ayudamos{{/link-to}}
                    <p>En <b>Tucarga</b> siempre estamos dispuesto a ayudarte, habla con nosotros al 600 500 0606</p>
                </div>
            </div>
        </div> {{! end sidebar }}

        <div id="content-view" class="large-9 medium-8 columns">
            {{outlet}}
        </div> {{! end content view }}

    </div>
</div> {{! end content page }}

