{{#link-to "index"}}<img src="/images/tucarga.jpg" alt="Tu carga">{{/link-to}}

<div id="content-page">
    <div  id="form" class="row">
        <div class="small-8 small-centered columns">
            <div id="content-view">

              <div class="title-page">
                  <h3>Unete al club</h3>
                  <h5 class="subheader">Se parte de la comunidad de transporte mas grande de Chile</h5>
              </div> {{! end title page}}

              <div class="row form-layout">
                  <div class="large-8 columns">
                    {{render "registrar_form"}}
                  </div> {{!end form content}}
                  <div class="large-4 columns">
                      <div class="why">
                          <h5>Porque registrarse</h5>
                          <ul>
                              <li><i class="fi-check"></i>Trabaja con clientes confiables y recomendados</li>
                              <li><i class="fi-check"></i>Nosotros te avisamos cada ves que tengas una oferta.</li>
                              <li><i class="fi-check"></i>Aumenta el volumen de carga y retornos vacios.</li>
                          </ul>
                      </div>
                  </div> {{! end why}}
              </div> {{! end form-layout}}

            </div>{{! end #content-view}}
        </div> {{! end centered}}
    </div> {{! end #form}}
</div> {{! end content page }}

