        <div id="como-transportista">
            <div class="title-page transportista">
                <a id="transportista"><h3>Empresa transportista</h3></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi.</p>
            </div> {{! end title page}}

            <div class="row como-info">
                <div class="large-6 columns">
                    <h4>Beneficios</h4>
                    <ul>
                        <li><i class="fi-check"></i>Trabaja con clientes confiables y recomendados.</li>
                        <li><i class="fi-check"></i>Trabaja con clientes confiables y recomendados.</li>
                        <li><i class="fi-check"></i>Trabaja con clientes confiables y recomendados.</li>
                        <li><i class="fi-check"></i>Trabaja con clientes confiables y recomendados.</li>
                        <li><i class="fi-check"></i>Trabaja con clientes confiables y recomendados.</li>
                    </ul>
                </div>
                <div class="large-6 columns">
                    <h4>Como funciona</h4>
                    <ul>
                        <li><i class="number">1</i>Trabaja con clientes confiables y recomendados.</li>
                        <li><i class="number">2</i>Trabaja con clientes confiables y recomendados.</li>
                        <li><i class="number">3</i>Trabaja con clientes confiables y recomendados.</li>
                        <li><i class="number">4</i>Trabaja con clientes confiables y recomendados.</li>
                    </ul>
                </div>
            </div>

            <div class="box call-action">
                <div class="margin clearfix">
                    <h3 class="left">Unete al club de transporte de Chile</h3>
                    {{#link-to "registro" classNames='button radius right'}}Click aqui{{/link-to}}
                </div>
            </div>
        </div>
