<div id="intro-section" class="clearfix">
    <ul class="inline-list bread-local left">
        <li><h3 class="left">Transportistas</h3></li>
    </ul>
    <ul class="inline-list tool-view right">
        <li class="prospect"><a href="#" class="active">Validados</li>
        <li class="prospect"><a href="#">Prospectos</a><span class="label absolute">4</span></li>
        <li class="prospect"><a href="#">Rechazados</li>
        <li><a href="#" class="button small add radius">Agregar transportista</a></li>
    </ul>
</div>

<div id="page-content" class="row">
    <div id="content-page" class="large-9 columns">
        <div id="user-loop">

            {{#each transportista in controler}}
            <div class="user">
                <div class="cleafix">
                    <a href="#" class="left"><h4>Nombre empresa <span class="label">FFO</span></h4></a>
                    <a href="" class="right button radius config">Editar perfil <i class="fi-widget"></i></a>
                </div>
                <div class="row">
                    <div class="large-9 columns">
                        <h6>Contacto</h6>
                        <ul class="inline-list">
                            <li>Nombre</li>
                            <li>asdf@asdf.com</li>
                            <li>+56 22 4567 12363</li>
                            <li><a href="#">ver mas</a></li>
                        </ul>
                    </div>
                    <div class="large-3 columns">
                        <h6>Rut</h6>
                        <ul class="inline-list">
                            <li>16.126.445-8</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <h6>Direccion</h6>
                        <ul class="inline-list">
                            <li>Calle falta #123</li>
                            <li>Las condes</li>
                            <li>Santiago</li>
                        </ul>
                    </div>
                </div>
            </div>
            {{/each}}
        </div> <!-- end user loop -->
    </div> <!-- end content-page -->

    <div id="sidebar" class="large-3 columns">
        <div id="search" class="row">
          <div class="row collapse">
            <div class="small-9 columns">
              <input type="text" placeholder="Buscar por nombre rut o correo">
            </div>
            <div class="small-3 columns">
              <a href="#" class="button postfix">buscar</a>
            </div>
          </div>
        </div>
        <ul class="side-nav">
            <li><h5>Tipo</h5></li>
            <li><a href="#">FFO</a></li>
        </ul>
        <ul class="side-nav">
            <li><h5>Covertura</h5></li>
            <li><a href="#">Norte</a></li>
            <li><a href="#">Centro</a></li>
            <li><a href="#">Sur</a></li>
        </ul>
        <ul class="side-nav">
            <li><h5>Tipo camion</h5></li>
            <li><a href="#">Rampa plata</a></li>
            <li><a href="#">Acoplado</a></li>
        </ul>
    </div><!-- end sidebar-->
</div>
