<div id="intro-section" class="clearfix">
    <ul class="inline-list bread-local left">
        <li><h3 class="left">Transportistas</h3></li>
    </ul>
    <ul class="inline-list tool-view right">
        <li class="prospect">{{#link-to "validados"}}Validados{{/link-to}}</li>
        <li class="prospect">{{#link-to "prospectos"}}Prospectos{{/link-to}}</li>
        <li class="prospect">{{#link-to "rechazados"}}Rechazados{{/link-to}}</li>
        <li><a href="#" class="button small add radius">Agregar transportista</a></li>
    </ul>
</div>

{{outlet}}


